
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>registrationSuccess</title>
</head>
<body>
    <div class="mx-auto">
        <h3 class="text-primary">Compte créé avec succès</h3>
        <a href="/Login/Index">Cliquez-ici</a> pour connecter à votre compte
    </div>
    

</body>
</html>
