@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Content/images/imgFront.jpg); ">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>"Les programmes doivent être faits pour être lus par des gens, et occasionnellement pour être exécutés par des machines", Hal Abelson</h1>
                                <h2>Testez vos connaissances Développement Web Front-end</h2>
                                <p><a class="btn btn-primary btn-lg" href="http://localhost:62515/Category/QuizzFrontList">Commencez votre quizz !</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Content/images/imgBack.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>"Mesurer l’avancement de la programmation à l’aide de lignes de code revient à mesurer l’avancement de la construction d’un avion en poids", Bill Gates</h1>
                                <h2>Testez vos connaissances Développement Web Back-end</h2>
                                <p><a class="btn btn-primary btn-lg btn-learn" href="http://localhost:62515/Category/QuizzBackList">Commencez votre quizz !</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Content/images/imgDoc.jpg); ">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>Envie de réviser certaines notions avant de vous tester ?</h1>
                                <h2>Utilisez nos liens vers les documentations des technologies utilisées dans les quizz</h2>
                                <p><a class="btn btn-primary btn-lg btn-learn" href="#fh5co-course-categories">Révisez !</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-course-categories">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Documentations des technologies web</h2>
                <p>Besoin d'une révision sur .NET ou CSS3 ? Voici toutes les documentations officielles.</p>
            </div>
        </div>
        <div class="row divRowIcon">
            <div class="col-md-4 col-sm-6 text-center animate-box iconDiv">
                <div class="services">
                    <a href="https://html.spec.whatwg.org/multipage/" target="blank">
                        <img src="~/Content/images/html5.png" class="imgIcon"  />
                    </a>
                    <div class="desc">
                        <p>Comment structurer vos page internet en utilisant HTML5 ? Toutes les réponses dans cette documentation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center animate-box iconDiv">
                <div class="services">
                    <a href="https://www.w3.org/Style/CSS/learning" target="blank">
                        <img src="~/Content/images/css.png" class="imgIconCss"  />
                    </a>
                    <div class="desc">
                        <p>Envie de revoir vos acquis sur la mise en forme d'une page internet ? Accédez à la documentation du W3C.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center animate-box iconDiv bootstrapDiv">
                <div class="services bootstrapDiv">
                    <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="blank">
                        <img src="~/Content/images/Bootstrap_logo.svg" class="imgIcon"  />
                    </a>
                    <div class="desc">
                        <p class="pBootstrap">Personnalisez le design de vos pages rapidement, et rendez le tout responsive facilement avec Boostrap. Revoyez vos acquis avec la documentation officielle.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center animate-box iconDiv">
                <div class="services">
                    <a href="https://docs.microsoft.com/fr-fr/dotnet/csharp/" target="blank">
                        <img src="~/Content/images/cSharp.png" class="imgIcon"  />
                    </a>
                    <div class="desc">
                        <p>C# est un langage de programmation moderne, orienté objet et sécurisé, voici toutes les informations dans la documentation officielle de Microsoft.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center animate-box iconDiv">
                <div class="services">
                    <a href="https://docs.microsoft.com/fr-fr/dotnet/" target="blank">
                        <img src="~/Content/images/net.svg" class="imgIcon"  />
                    </a>
                    <div class="desc">
                        <p>.NET est un framework open source utilisant plusieurs langages comme C#, C++, VB.NET. Vous trouverez ici la documentation Microsoft .NET.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center animate-box iconDiv">
                <div class="services">
                    <a href="https://docs.microsoft.com/en-us/sql/t-sql/language-reference?view=sql-server-ver1" target="blank">
                        <img src="~/Content/images/t-sql.png" class="imgIcon"  />
                    </a>
                    <div class="desc">
                        <p>Transact-SQL est central dans l'utilisation des services de développement Microsoft. Voici une documentation exhaustive de ce langage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        @*<span class="icon"><i class="icon-world"></i></span>*@
                        <span class="fh5co-counter js-counter" data-from="0" data-to="22300" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Etudiants internationaux</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        @*<span class="icon"><i class="icon-study"></i></span>*@
                        <span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Etudiants français</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        @*<span class="icon"><i class="icon-bulb"></i></span>*@
                        <span class="fh5co-counter js-counter" data-from="0" data-to="91450" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Quizz complétés</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        @*<span class="icon"><i class="icon-head"></i></span>*@
                        <span class="fh5co-counter js-counter" data-from="0" data-to="1080" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Professeurs certifiés</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="fh5co-testimonial" style="background-image: url(images/school.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2><span>Avis</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <div class="user" style="background-image: url(../../Content/images/AVT_Bill-Gates_2213.jpg)"></div>
                                <span>Bill Gates<br><small>Fondateur de Microsoft</small></span>
                                <blockquote>
                                    <p>&ldquo;Projet très bien réalisé, je les embauche directement au sein de Microsoft.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <div class="user" style="background-image: url(../../Content/images/AVT_Scott-Guthrie_2213.jpg);"></div>
                                <span>Scott Guthrie<br><small>Créateur d'ASP.NET MVC</small></span>
                                <blockquote>
                                    <p>&ldquo; Très belle utilisation de MVC. Du jamais vu !&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <div class="user" style="background-image: url(images/person3.jpg);"></div>
                                <span>Mourad<br><small>Formateur</small></span>
                                <blockquote>
                                    <p>&ldquo;Le meilleur projet de cette session de formation&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

