@model IPagedList<DevQuizzMVC.DTO.QuestionQuizzDTO>
@using PagedList;
@{
    ViewBag.Title = "DoQuizz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DoQuizz</h2>

@{
    List<DevQuizzMVC.DTO.AnswerQuizzDTO> answerList = new List<DevQuizzMVC.DTO.AnswerQuizzDTO>();
    DevQuizzMVC.Services.AnswerQuizzService service = new DevQuizzMVC.Services.AnswerQuizzService();
}

@foreach (var item in Model)
{
    <table class="table table-striped table-hover">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
        </tr>
    </table>


    answerList = service.GetAllAnswers().Where(a => a.QuestionQuizzId == item.Id).ToList();
    foreach (var answer in answerList)
    {
        <table class="table table-striped table-hover">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => answer.AnswerText)
                </td>
            </tr>
        </table>
    }


}