
@{
    ViewBag.Title = "Resultat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row divScore">
        <h1>Votre score = @Session["score"]</h1>
    </div>
    
    
</div>


