
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <div class="container">
        <div class="alert alert-info">
            <h4>  Mot de passe reinitialisé.</h4>
        </div>
        Consultez votre boite email et cliquez sur le lien de réinitialisation. @Html.ActionLink("Retour à l'accueil", "Index", "Home") 
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
</html>
