
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <div> 
        <h4>Consultez votre boite émail et cliquez sur le lien de réinitialisation. @Html.ActionLink("Retour à l'accueil","Index", "Home") </h4>
    </div>
</body>
</html>
