@model IEnumerable<DevQuizzMVC.DTO.QuizzDTO>

@{
    ViewBag.Title = "QuizzFrontList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="titleQuizzList">Liste des Quizz Front-End</h2>




<div class="container listContain">
    <div class="row flexRowFront">
        @foreach (var item in Model)
        {
            <div class="col-md-3 iconQuizzDiv">                
                <a href="@Url.Action("Demarrer", "Quizz" , new { id=item.Id }, null)"><img style="height:150px" src="../../Content/picturesQuizz/@item.Picture" /></a>
            </div>
        }
    </div>
</div>



